
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="copyright" content="©2020 Binblog所有"/>
    <link rel="stylesheet" href="/static/style.min.css" media="screen" type="text/css"/>

    <!-- Begin SEO tag -->
    <title>使用django的标签和Paginator进行分页</title>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="使用django的标签和Paginator进行分页"/>
    <meta property="og:description" content="使用django的标签和Paginator进行分页"/>
    <meta property="og:site_name" content="使用django的标签和Paginator进行分页"/>
    <meta name="description" content="使用django的标签和Paginator进行分页"/>
    <!-- End SEO tag -->
</head>

<body>
<header>
    <div class="inner">
        <a href="/">
            <h1>彬彬同学丶</h1>
        </a>
        <h2>Choose what you love. Love what you choose.</h2>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
        
            
                <h1 id="art-title">使用django的标签和Paginator进行分页</h1>
            
            
            
                <h1>使用django的标签和Paginator进行分页</h1>
<div class="highlight"><pre><span></span><span class="c1"># blog_tags.py 标签文件中</span>

<span class="kn">from</span> <span class="nn">django</span> <span class="kn">import</span> <span class="n">template</span>
<span class="kn">from</span> <span class="nn">django.core.paginator</span> <span class="kn">import</span> <span class="n">Paginator</span><span class="p">,</span> <span class="n">PageNotAnInteger</span><span class="p">,</span> <span class="n">EmptyPage</span>
<span class="n">register</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">Library</span><span class="p">()</span>  <span class="c1"># 名字是固定的register</span>

<span class="nd">@register.simple_tag</span><span class="p">(</span><span class="n">takes_context</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">pagination_tag</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="n">object_list</span><span class="p">,</span> <span class="n">page_count</span><span class="o">=</span><span class="mi">2</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot; context是Context 对象，object_list是你要分页的对象，page_count表示每页的数量 &quot;&quot;&quot;</span>
    <span class="n">paginator</span> <span class="o">=</span> <span class="n">Paginator</span><span class="p">(</span><span class="n">object_list</span><span class="p">,</span> <span class="n">page_count</span><span class="p">)</span>
    <span class="n">page</span> <span class="o">=</span> <span class="n">context</span><span class="p">[</span><span class="s1">&#39;request&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">GET</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;page&#39;</span><span class="p">)</span>

    <span class="k">try</span><span class="p">:</span>
        <span class="n">object_list</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>  <span class="c1"># 根据页码获取对应页的数据</span>

    <span class="k">except</span> <span class="n">PageNotAnInteger</span><span class="p">:</span>
        <span class="c1"># 如果page不是int，字符串或为None，就返回第一页</span>
        <span class="n">object_list</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>

    <span class="k">except</span> <span class="n">EmptyPage</span><span class="p">:</span>
        <span class="c1"># 如果page是int, 负数，或0，或者超过最大页数，返回最后一页</span>
        <span class="n">object_list</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="n">paginator</span><span class="o">.</span><span class="n">num_pages</span><span class="p">)</span>

    <span class="c1"># 模板里as可以取得return {% pagination_tag article_list 2 as article_list %}</span>
    <span class="k">return</span> <span class="n">object_list</span>
</pre></div>
<div class="highlight"><pre><span></span><span class="c1"># 模板文件中对views中传来的 article_list 进行标签调用，进行分页</span>
<span class="p">{</span><span class="o">%</span> <span class="n">pagination_tag</span> <span class="n">article_list</span> <span class="mi">2</span> <span class="k">as</span> <span class="n">article_list</span> <span class="o">%</span><span class="p">}</span>

<span class="p">{</span><span class="o">%</span> <span class="k">for</span> <span class="n">article</span> <span class="ow">in</span> <span class="n">article_list</span> <span class="o">%</span><span class="p">}</span>
    <span class="p">{</span><span class="o">%</span> <span class="n">inclusion_article_info_tag</span> <span class="n">article</span> <span class="bp">True</span> <span class="o">%</span><span class="p">}</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endfor</span> <span class="o">%</span><span class="p">}</span>

<span class="p">{</span><span class="o">%</span> <span class="n">include</span> <span class="s1">&#39;blog/article_pagination.html&#39;</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">nav</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;nav-below&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navigation&quot;</span> <span class="na">role</span><span class="o">=</span><span class="s">&quot;navigation&quot;</span><span class="p">&gt;</span>
    {% if article_list.has_previous %}
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;nav-previous&quot;</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;?page={{ article_list.previous_page_number }}&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;meta-nav&quot;</span><span class="p">&gt;</span>←<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>上一页<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    {% endif %}
    {% if article_list.has_next %}
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;nav-next&quot;</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;?page={{ article_list.next_page_number }}&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;meta-nav&quot;</span><span class="p">&gt;</span>→<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>下一页<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    {% endif %}
<span class="p">&lt;/</span><span class="nt">nav</span><span class="p">&gt;</span>
</pre></div>

            
            
            

        </section>

        <aside id="sidebar">
            <blockquote class="route">关于我</blockquote>
            <p>简单渲染成HTML的静态站点，相当于笔记本的博客，瞎记点自己的东西，会有部分文章会外链到别处。</p>
            
            <blockquote class="route">Github地址</blockquote>
            <a href="https://github.com/enjoy-binbin">
                <img border="0" src="https://avatars2.githubusercontent.com/u/22811481" width="100%" height="100%" alt="enjoy-binbin"/>
            </a>
            
            
        </aside>
    </div>
</div>
</body>

</html>
